/* SpaceHey Stylesheet - Adapted for React */

@font-face {
  font-family: 'FOT-NewRodin Pro';
  src: url('../fonts/fot-new-rodin-pro-eb.otf') format('opentype');
  font-weight: 800; /* Extra Bold */
  font-style: normal;
  font-display: swap;
}

:root {
  --light-gray: #f2f0f0;
  --gray: #e3e3e3;
  --dark-gray: #919191;
  --darker-gray: #545454;
  --logo-blue: #1d4ed8;
  --darker-blue: #1e40af;
  --lighter-blue: #60a5fa;
  --even-lighter-blue: #bfdbfe;
  --lightest-blue: #dbeafe;
  --red: #ff0000;
  --dark-orange: #ed0707;
  --light-orange: #f9c56c;
  --even-lighter-orange: #fcdbb8;
  --strange-yellow: #dbae2e;
  --green: #34d399;
  --light-green: #e6f8dd;
  --medium-green: #a0c99c;
  --dark-green: #059669;
  accent-color: #1d4ed8;
  accent-color: var(--logo-blue);
}

.hero-wrapper {
  background-color: var(--gray);
  font-family: 'FOT-NewRodin Pro', verdana, arial, sans-serif, helvetica;
}

.hero-wrapper .container {
  width: 810px;
  max-width: 100%;
  margin: 0 auto 10px;
  padding-top: 0;
}

.hero-wrapper nav {
  margin-top: 0;
  padding-top: 0;
}

.hero-wrapper time.ago {
  opacity: 0;
}

.hero-wrapper a {
  color: var(--darker-blue);
  text-decoration: none;
}

.hero-wrapper a:hover,
.hero-wrapper a:active {
  color: #c00;
  text-decoration: underline;
}

.hero-wrapper p,
.hero-wrapper ol li,
.hero-wrapper ul:not(nav .links):not(footer .links) li {
  font-size: 0.875em;
  font-size: max(0.875em, 12px);
}

.hero-wrapper ol li ol li {
  font-size: 100%;
}

.hero-wrapper ul {
  padding-left: 20px;
}

.hero-wrapper nav {
  color: white;
  font-size: 72%;
  font-size: max(72%, 12px);
}

.hero-wrapper nav .top {
  background: var(--logo-blue);
  padding: 15px 10px 14px 10px;
  display: flex;
  position: relative;
  margin-top: 0;
}

.hero-wrapper nav {
  margin-top: 0;
  padding-top: 0;
}

.hero-wrapper nav .top a {
  text-decoration: none;
  color: inherit;
}

.hero-wrapper nav .top a:hover {
  text-decoration: underline;
}

.hero-wrapper nav .top div {
  display: inline-block;
  vertical-align: top;
}

.hero-wrapper nav .top .left a {
  text-decoration: none;
  color: inherit;
}

.hero-wrapper nav .top .left img {
  margin: 0 0 0 6px;
}

.hero-wrapper nav .top .left .logo {
  width: 165px;
  height: 42px;
}

.hero-wrapper nav .top .center {
  text-align: center;
  flex: 1;
}

.hero-wrapper nav .top .center form {
  margin-top: -2px;
  width: 100%;
}

.hero-wrapper nav .top .right {
  text-align: right;
}

.hero-wrapper nav .links {
  background-color: var(--lighter-blue);
  padding: 3.5px 16px;
}

.hero-wrapper nav .links .icon {
  vertical-align: -0.41em;
}

.hero-wrapper nav .links {
  margin: 0;
  list-style: none;
}

.hero-wrapper nav .links li {
  display: inline-block;
}

.hero-wrapper nav .links li.active a {
  font-weight: bold;
}

.hero-wrapper nav .links li:not(:last-child)::after {
  content: " | ";
  color: black;
}

.hero-wrapper nav .links li {
  min-height: 1.4em;
}

.hero-wrapper nav .links a {
  text-decoration: none;
  color: white;
  text-shadow: 0 0 7px #095dc3;
  font-size: 0.98em;
  font-size: max(0.98em, 12px);
}

.hero-wrapper nav .links a:hover {
  text-decoration: underline;
  color: #040c5c;
}

.hero-wrapper main {
  background: white;
  color: black;
  padding: 6px 0px;
  font-size: 80%;
}

.hero-wrapper main .left,
.hero-wrapper main .right {
  padding: 10px;
}

.hero-wrapper .profile h1 {
  font-size: 1.5em;
  margin: 0 0 10px 0;
}

.hero-wrapper .general-about .profile-pic {
  display: block;
  float: left;
  margin: 0 15px 8px 0;
  height: 160px;
}

.hero-wrapper .general-about .profile-pic img {
  max-width: 160px;
  max-height: 160px;
}

.hero-wrapper .general-about .details {
  display: block;
}

.hero-wrapper .general-about .details.below {
  width: 100%;
  display: inline-block;
}

.hero-wrapper .profile .mood {
  width: 100%;
  display: inline-block;
}

.hero-wrapper .profile .mood p {
  margin: 0 0 8px 0;
}

.hero-wrapper .profile .contact,
.hero-wrapper .profile .url-info,
.hero-wrapper .profile .table-section {
  width: 100%;
  border: 2px solid var(--lighter-blue);
  margin: 10px 0;
}

.hero-wrapper .profile .contact .heading,
.hero-wrapper .profile .table-section .heading {
  background: var(--lighter-blue);
  color: white;
  padding: 2px 7px;
}

.hero-wrapper .profile .contact .heading h4,
.hero-wrapper .profile .table-section .heading h4,
.hero-wrapper .profile .blurbs .heading h4,
.hero-wrapper .profile .friends .heading h4 {
  margin: 0;
  display: inline-block;
}

.hero-wrapper .profile .contact .f-row {
  margin: 7px;
  font-weight: bold;
  font-size: 0.875em;
}

.hero-wrapper .profile .url-info {
  padding: 4px 7px;
}

.hero-wrapper .profile .url-info p {
  font-size: 100%;
  margin: 0;
  word-break: break-all;
}

.hero-wrapper table.details-table {
  width: 100%;
}

.hero-wrapper .details-table td:first-child {
  background: var(--even-lighter-blue);
  color: var(--logo-blue);
  font-weight: bold;
  width: 33%;
}

.hero-wrapper .details-table td {
  background: var(--lightest-blue);
  vertical-align: top;
}

.hero-wrapper .details-table td p {
  margin: 0;
  overflow-wrap: break-word;
  word-break: break-word;
}

.hero-wrapper .details-table td * {
  max-width: 100%;
}

.hero-wrapper .profile .blurbs {
  margin: 20px 0;
}

.hero-wrapper .profile .blurbs .heading,
.hero-wrapper .profile .friends .heading {
  background: var(--light-orange);
  color: var(--dark-orange);
  padding: 2px 7px;
}

.hero-wrapper .profile .blurbs .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-wrapper .profile .friends .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-wrapper .profile .friends .heading .more {
  color: var(--darker-blue);
  text-decoration: none;
}

.hero-wrapper .profile .friends .heading .more:hover {
  color: #c00;
  text-decoration: underline;
}

.hero-wrapper .profile .blurbs .inner,
.hero-wrapper .profile .friends .inner {
  padding: 7px;
}

.hero-wrapper .profile .blurbs .section {
  margin-bottom: 14px;
}

.hero-wrapper .profile .blurbs .section h4 {
  margin: 0;
  color: var(--dark-orange);
}

.hero-wrapper .profile .blurbs .section p,
.hero-wrapper .profile .friends p {
  margin: 0 0 8px 0;
}

.hero-wrapper .profile .friends .person {
  width: 105px;
  display: inline-block;
  padding: 0 10px 15px 0;
}

.hero-wrapper .profile .friends .person p {
  color: #666666;
  font-weight: bold;
  width: 100%;
  overflow-wrap: break-word;
  word-break: break-word;
  font-size: 100%;
  text-align: center;
}

.hero-wrapper .profile .friends .person img:not(.icon) {
  max-width: 95px;
  max-height: 95px;
  display: block;
  margin: 0 auto;
}

.hero-wrapper .count {
  color: #d32626;
}

.hero-wrapper table.comments-table {
  width: 100%;
  overflow-wrap: break-word;
  word-break: break-word;
}

.hero-wrapper .comments-table p {
  font-size: 100%;
}

.hero-wrapper .comments-table td:first-child {
  background: var(--light-orange);
  text-align: center;
  font-weight: bold;
  width: 38%;
}

.hero-wrapper .comments-table td {
  background: var(--even-lighter-orange);
  vertical-align: top;
}

.hero-wrapper .comments-table td:first-child img:not(.icon) {
  width: 90px;
  max-width: 100%;
  max-height: 200px;
}

.hero-wrapper .comments-table td pre {
  white-space: pre-wrap;
}

.hero-wrapper .comments-table td * {
  max-width: 100%;
}

.hero-wrapper .comments-table .report {
  font-size: 0.7em;
  float: right;
  margin: 8px 5px !important;
}

.hero-wrapper .icon {
  display: inline-block;
  height: 1.4em;
  width: 1.4em;
  aspect-ratio: 1 / 1;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.3em;
  color: rgba(0, 0, 0, 0);
}

.hero-wrapper .online {
  color: #0c8c00;
  font-weight: bold;
  font-size: 95%;
}

.hero-wrapper .online img {
  height: 1.5em;
  margin-right: 5px;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1, 0, 0, 1);
  animation-duration: 2s;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hero-wrapper .f-row {
  width: 100%;
  display: table;
  table-layout: fixed;
}

.hero-wrapper .f-col {
  display: table-cell;
  vertical-align: top;
}

.hero-wrapper .blog-preview {
  margin: 20px 0;
}

.hero-wrapper .blog-preview h4 {
  margin: 0 0 8px 0;
}

.hero-wrapper .blog-preview p {
  margin: 0 0 8px 0;
}

@media (min-width: 30em) {
  .hero-wrapper .row {
    width: 100%;
    display: table;
    table-layout: fixed;
  }

  .hero-wrapper .col {
    display: table-cell;
    vertical-align: top;
  }

  .hero-wrapper .col.w-40 {
    width: 40%;
  }

  .hero-wrapper .col.w-60 {
    width: 60%;
  }

  .hero-wrapper .home .col.left {
    background-image: url("https://static.spacehey.net/img/divider_o.png");
    background-position: right -15px;
    background-repeat: repeat-y;
  }
}

.hero-wrapper .friends-grid {
  display: flex;
  flex-wrap: wrap;
}

.hero-wrapper .blurbs img,
.hero-wrapper .blurbs iframe {
  max-width: 100% !important;
}

