@import "tailwindcss";

@theme inline {
  --animate-aurora: aurora 60s linear infinite;
  
  @keyframes aurora {
    from {
      background-position:
        50% 50%,
        50% 50%;
    }
    to {
      background-position:
        350% 50%,
        350% 50%;
    }
  }
}

@layer base {
  :root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  }

  body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
  }

  html {
    overflow-y: auto;
    overflow-x: hidden;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
